<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>final</title>

    <link rel="stylesheet" href="css/dist/reset.css">
    <link rel="stylesheet" href="css/dist/style.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.jcarousel.js"></script>
    <script src="js/template.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/script.min.js"></script>
    <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <!--[if lt IE 9]>
     <link href="css/dist/styleIE8.css" rel="stylesheet" />
     <p>GO IE8</p>
    <![endif]-->

    <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

<!--[if lt IE 9]>
<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->


    </head>
  <body>
    <div class="promo">
      <header class="header">
        <a class="header__logIn" href="javascript:;">Log in</a>
        <a class="header__signUp" href="javascript:;">Sign up</a>
        <h3 class="header__title"><a href="javascript:;">URLAUBSGLÜCK</a></h3>
      </header>
      <h2 class="promo__head">SHARE YOUR HOLIDAY DREAMS</h2>
      <h3 class="promo__head2">And find the perfect partner to fullfill it</h3>
      <button class="button" type="button" name="findPartner">Find your holiday partner</button>

    </div>

    <section class="howItWorks">
      <h3 class="howItWorks__head">How Urlaubsglück works?</h3>
      <article class="step">
        <div class="jcarousel">
          <ul>
            <li><img  class="step__image" src="img/step1.jpg" alt="" /></li>
            <li><img  class="step__image" src="img/step2.jpg" alt="" /></li>
            <li><img  class="step__image" src="img/step3.jpg" alt="" /></li>
          </ul>
        </div>
        <a class="jcarousel-prev" href="javascript:;"></a>
        <a class="jcarousel-next" href="javascript:;"></a>
        <button class="buttonStep" type="button" name="findPartner">STEP 1</button>
        <h6 class="step__title">Sed leo enim, condimentum</h6>
        <span class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
      </article>

      <article class="step">
        <div class="jcarousel">
          <ul>
            <li><img  class="step__image" src="img/step2.jpg" alt="" /></li>
            <li><img  class="step__image" src="img/step1.jpg" alt="" /></li>
            <li><img  class="step__image" src="img/step3.jpg" alt="" /></li>
          </ul>
        </div>
        <a class="jcarousel-prev" href="javascript:;"></a>
        <a class="jcarousel-next" href="javascript:;"></a>
        <button class="buttonStep bst2" type="button" name="findPartner">STEP 2</button>
        <h6 class="step__title st2">Morbi velit risus</h6>
        <span class="step__text stTxt2">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
      </article>

      <article class="step">
        <div class="jcarousel">
          <ul>
            <li><img  class="step__image" src="img/step3.jpg" alt="" /></li>
            <li><img  class="step__image" src="img/step2.jpg" alt="" /></li>
            <li><img  class="step__image" src="img/step1.jpg" alt="" /></li>
          </ul>
        </div>
        <a class="jcarousel-prev" href="javascript:;"></a>
        <a class="jcarousel-next" href="javascript:;"></a>
        <button class="buttonStep" type="button" name="findPartner">STEP 3</button>
        <h6 class="step__title">Sed leo enim, condimentum</h6>
        <span class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
      </article>

    </section>

    <section class="partners">
        <h3 class="partners__head">Meet a partner for your best holiday</h3>
        <div class="partnerContainer">
          <a href="javascript:;" class="partners__foto"></a>
          <h5 class="partners__name"><a href="javascript:;">Bradley Hunter</a></h5>
          <span class="partners__info">Based in Chicago. I love playing tennis and loud music.</span>
        </div>

        <div class="partnerContainer">
          <a href="javascript:;" class="partners__foto foto2"></a>
          <h5 class="partners__name"><a href="javascript:;">Heather Walker</a></h5>
          <span class="partners__info">I'm a happy person that loves cats and climbing on mountains.</span>
        </div>

        <div class="partnerContainer">
          <a href="javascript:;" class="partners__foto foto3"></a>
          <h5 class="partners__name"><a href="javascript:;">Lucas Marsha</a></h5>
          <span class="partners__info">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</span>
        </div>

        <div class="partnerContainer">
          <a href="javascript:;" class="partners__foto foto4"></a>
          <h5 class="partners__name"><a href="javascript:;">Bradley Hunter</a></h5>
          <span class="partners__info">Based in Chicago. I love playing tennis and loud music.</span>
        </div>
        <button class="butonPartners" type="button" name="seePartners">See other partners</button>

    </section>




    <div class="searchPartners">
      <h3 class="searchPartners__head">Discover holiday activity ideas</h3>
      <div class="grid">
        <div class="gutter-sizer"></div>
        <script type="text/template" id="html">


          <% for(var i = 0; i < 7 && i < hits.length; i++) {  %>
            <div class="grid-item"><a target="_blank" href="<%= hits[i].pageURL %>"><img src=" <%= hits[i].webformatURL %> " alt="" /><span class="gridWord"><%= hits[i].tags.split(", ", 1) %></span></a></div>



           <% }; %>

        </script>

      </div>
      <h3 class="searchPartners__head">Discover holiday activity ideas</h3>
      <h4 class="searchPartners__head2">Hi! What are your holiday interests?</h4>
      <div class="search">
        <input class="search__input" type="text" name="searchIinterests" placeholder="Enter your interests">
        <button class="search__button" type="button" name="button">Search partners</button>
      </div>
    </div>



    <footer class="footer">
      <h3 class="footer__title"><a href="javascript:;">URLAUBSGLÜCK</a></h3>
      <nav class="footer__menu">
        <h4 class="footer__menu__head">Company</h4>
        <ul>
          <li><a href="javascript:;">About</a></li>
          <li><a href="javascript:;">Contacts</a></li>
          <li><a href="javascript:;">Press</a></li>
          <li><a href="javascript:;">Blog</a></li>
        </ul>
      </nav>
      <h4 class="footer__partners"><a href="javascript:;">Partners</a></h4>
      <p class="logo"><a href="javascript:;">DESIGNED BY</a></p>
    </footer>



  </body>
</html>
