@media screen and (max-width: 768px) {

  .slider{
    display: none;
  }


  header {
    max-width: 768px;
    width: 100%;
    height: auto;



  }

  .header__top {
    z-index: 20;
    position: relative;
    transform: none;
    max-width: 768px;
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 30px 20px;


  }

  .logo {
    display: inline-block;
    h3 {

    }
    h2 {

    }
  }

  #menuTop {
    text-align: center;
    float: none;
    display: none;
    li {
      display: block;
      line-height: inherit;

    }
    li:last-of-type {
      a {
        margin-left: 0;
      }
    }
    li:first-of-type {
      border-right: 0;
      a {
        display: block;
        margin: 30px 0;

      }
    }
    a {
      color: #001111;
      font-size: 30px;
      letter-spacing: 0.04em;

    }

  }
  #openButton{
    display: inline-block;
    float: right;
    background: url("../../img/smallMenu.png");
    width: 53px;
    height: 40px;
    content: '';
  }

  .callback {
    background: #4664cc;
    padding: 0 40px;
  }



  .contacts {
    margin-top: 20px;
    width: 100%;
    margin-right: 0;
    float: none;
    background: #f6f6f6;
    padding: 30px 30px;
    box-sizing: border-box;


  }



}
