
body{
  background: #D4D4D4;
}
.wrapper{
  width: 40%;

  margin: 15% auto;

}

#timerNum{
  display: block;
  padding: 3%;
  color: #33A4FD;
  font-size: 50px;

}
.btn-primary{
  font-family: Arial, sans-serif;
  font-size: 18px;
  width: 100px;
  margin-right: 7%;
}
